.contactPage {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 0px;
}

.dataProtection {
  padding-top: 10px;
  text-align: justify;
}

#checkCons {
  margin-top: 22px;
  margin-right: 10px;
}

#informacion {
  margin-top: 22px;
  margin-right: 10px;
}

.politics {
  display: flex;
  align-items: center;
  margin: 1px 0;
  padding: 1px 0;
}

.consentimiento1 {
  display: flexbox;
  margin-top: 7px;
  padding: 2px 0;
  font-family: roboto;
  font-size: 12px;
}


.ContactBotton {
  text-align: center !important;
  height: 40px;
  padding: 10px 0;
}

.iframeDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 600px;
  overflow: scroll;
  margin: 0 auto;
}

/*.validated {
    color: green;
}

.notValidated {
     color:red;
    
}*/
