

.uploadPhoto {
    display: flex;
    flex-direction: column;
    text-align: start;
    min-height: 80px;
    width: 300px;
}

.inputUpload{
  width: 300px;
 margin-top: 10px;
 margin-right: 0px;
 padding-right: 0px;
}